{
  "customSyntax": "postcss-html",
  "extends": [
    "stylelint-config-html/vue",
    "stylelint-config-standard-scss",
    "stylelint-prettier/recommended",
    "stylelint-config-recess-order"
  ],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "indentation": null,
    "prettier/prettier": true,
    "selector-class-pattern": null,
    "no-empty-source": null
  }
}
